<%- include('./partials/header.ejs');-%>
    <%- include('./partials/form_nav.ejs');-%>
        <!-- <%- include('./partials/nav.ejs');-%> -->

        <div class="container">
            <div class="row">
                <div class="col-12 offset-md-2 col-md-8 offset-md-2">
                    <h1 class="text-left display-4">About Us</h1>
                </div>
                <div class="col-12 offset-md-2 col-md-8 offset-md-2">
                    <img class="about-img" src="https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Poor kid">
                </div>
                <div class="col-12 offset-md-2 col-md-8 offset-md-2">
                    <h2 class="text-left">The housing problem</h2>
                    <p>
                        There have been a few approaches and projects actualized in the US to assist individuals with accessing better lodging. Regardless of these activities, nonetheless, the issue seems to persevere until further notice. Others reprimand the legislature for
                        not thinking of more arrangements to assist destitute with peopling recover financially. In an article distributed by the Business Insider, Harvard specialists uncovered that 33% of Americans spend over 30% of their pay on lodging
                        expenses alone. It is additionally significantly harder for leaseholders to keep up, with one of every four tenants spending the greater part of their salaries on lease. This report involves that the option for lodging, which is
                        leasing, is likewise no longer as suitable. The United States National Housing Act of 1937 has been ordered for over 80 years. This bill guarantees mortgage holders and tenants that lodging would cost under 30% of their pay. Be
                        that as it may, individuals today are burning through 30% of their salary on lodging at any rate. The absence of moderate lodging is driving an ever increasing number of individuals to the boulevards. They basically can't manage
                        of what they acquire month to month to have the option to bear the cost of nourishment, human services, lodging, and their different needs.
                    </p>
                    <h2 class="text-left">Poverty</h2>
                    <p>
                        As per an article by the National Homeless, destitution is connected to vagrancy. It keeps individuals from paying for lodging, subsequently compelling them to live in the city. In the U.S. Registration Bureau's 2015 report, the official destitution rate
                        is 13.5%. This figure does exclude vagrants, since the review was conveyed to US family units in September 2015. The evaluated number of destitute individuals is pegged at 43 million (barring the destitute).
                    </p>
                    <h2 class="text-left">Where we come in.</h2>
                    <p>
                        Homies, seeks to connect NGOs, which are working with homeless, orphan children and other less priviledged people, referred to as <b>homies</b>. The system gives philantrophists, individuals and NGOs that want to contribute to
                        social change, a platform to do so, in a way that does not conflict with their everyday lives. Homies track the progress of homeless, as a result of help received from benefactors on the platform. Help in this case is not only
                        limited to accomodation, but also education, counselling, and money.
                    </p>
                </div>
            </div>
        </div>


        <%- include('./partials/footer'); -%>