<%- include('./partials/header.ejs');-%>
    <%- include('./partials/nav.ejs');-%>
        <!-- signup portion -->


        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img" src="" alt="">
                <div class="card-body ">
                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center ">


                    </div>
                </div>
            </div>
        </div>


        <%- include('./partials/footer'); -%>