<%- include('./partials/header.ejs');-%>
    <%- include('./partials/nav.ejs');-%>
        <!-- signup portion -->
        <div class="container">

            <div class="row" id="signup_container">
                <div class="col-12 offset-md-3 col-md-6 offset-md-3 login_or_sign_container">
                    <h1 class="text-center">Sign Up</h1>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <!-- sign up forms -->
                    <form action="/signup" method="POST" enctype="multipart/form-data">
                        <p class="col-12 text-center">Personal Information</p>
                        <hr>
                        <div class="form-group"><label for="">Name</label><input type="text" class="form-control" name="name" required></div>

                        <div class="form-group"><label for="">User Type </label>
                            <select class="custom-select" name="userType">
                                <option selected>Choose...</option>
                                <option value="Individual">Individual</option>
                                <option value="NGO">NGO</option>
                              </select>
                        </div>

                        <div class="form-group"><label for="">Current Residence</label><input type="text" class="form-control" name="residence" required></div>

                        <div class="form-group">
                            <label for="">Bio</label>
                            <textarea class="form-control" name="bio" id="" cols="20" rows="10"></textarea>
                        </div>

                        <p class="col-12 text-center">Contact Information</p>
                        <hr>
                        <div class="row">
                            <div class="form-group col-6"><label for="">Email address</label><input type="text" class="form-control" name="emailAddress"></div>
                            <div class="form-group col-6"><label for="">Phone number</label><input type="text" class="form-control" name="phoneNumber"></div>
                        </div>

                        <div class="form-group"><label for="">Password</label><input type="password" class="form-control" name="password" required></div>
                        <div class="form-group"><label for="">Confirm password</label><input type="password" class="form-control" required></div>

                        <div class="form-group">
                            <p class="text-center">Upload a photo ID or an NGO logo</p>
                            <hr>
                            <input type="file" name="profile_photo" id="">
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="true">
                                <label class="custom-control-label" for="customCheck1">Keep me anonymous.</label>
                            </div>
                            <p>Your account information, will not be displayed, on the homepage.</p>
                        </div>

                        <div class="form-group">
                            <input type="Submit" value="Submit" class="btn btn-outline-dark btn-block">
                        </div>

                    </form>
                    <!-- show login button -->
                    <p class="text-center">
                        <a class="" href="/user_login">
                               Already got an account? <br> Login
                        </a>
                    </p>
                </div>

            </div>

        </div>

        <%- include('./partials/footer'); -%>